body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf2f8;
  min-height: 100vh;
  overflow-y: hidden;
}

.App{
  margin: 10px;
  width: 99%;
  margin: auto;
}
.main-grid {
  display: grid;
  gap: 1rem;
  margin: 5px 10px;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
}

.container1 {
  grid-area: one;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.container2 {
  grid-area: two;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;

  background-color: rgb(102, 21, 91);
}

.container3 {
  grid-area: three;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;

  background-color: rgb(190, 153, 30);
}

.container4 {
  grid-area: four;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(190, 30, 30);
}

.container5 {
  grid-area: five;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;

  background-color: rgb(30, 190, 30);
}

.container6 {
  grid-area: six;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;

  background-color: rgb(30, 30, 190);
}

.container7 {
  grid-area: seven;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;

  background-color: rgb(190, 30, 190);
}

.container8 {
  grid-area: eight;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;

  background-color: rgb(30, 190, 190);
}

@media screen and (min-width: 36em) {
  .main-grid {
    grid-template-areas:
      "two two two two"
      "one one three three"
      "four four five five"
      "six six six six"
      "seven seven seven seven"
      "eight eight eight eight";
  }
  

@media (max-width: 20em) and (min-width: 33em) {
  .main-grid {
    grid-template-areas:
      "two two two two"
      "one one three three"
      "four four five five"
      "six six six six"
      "seven seven seven seven"
      "eight eight eight eight";

    width: 90%;
  }


}


@media (max-width: 34em) and (min-width: 38em) {
  .main-grid {
    grid-template-areas:
      "two two two two"
      "one one three three"
      "four four five five"
      "six six six six"
      "seven seven seven seven"
      "eight eight eight eight";
  }
 
}

@media (max-width: 39em) and (min-width: 55em) {
  .main-grid {
    grid-template-areas:
      "two two two two"
      "one one three three"
      "four four five five"
      "four six six six"
      "seven seven seven seven"
      "eight eight eight eight";
  }

 
}

@media screen and (min-width: 75em) {
  .main-grid {
    grid-template-areas:
      "one two two two"
      "three four five six"
      "seven seven seven seven"
      "eight eight eight eight";
  }


}

}